<header>
<div class="header">

  <div class="logo"><a [routerLink]="['/home']"><img src="assets/BurgerCloud.png"/></a></div>

  <div class="headerbar">
    <div class="headerbaritems">
      <div class="headerbaritem">
        <a [routerLink]="['home']" class="plainlink caps">Home</a>
      </div>
      <div class="headerbaritem">
        <a [routerLink]="['standardBurgers']" class="plainlink caps">Our Standard Burgers</a>
      </div>
      <div class="headerbaritem">
        <a [routerLink]="['burgerCreation']" class="plainlink caps">Create your own</a>
      </div>
      <div class="headerbaritem cart">
        <a [routerLink]="['shoppingCart']" class="plainlink caps">Your current orders</a>
      </div>
    </div>
  </div>

</div>
</header>

