<h1 class="burgerCreationHeader">Create your own burger</h1>
<form class="ingredientsForm">
  <div class="ingredients-container">
    <div class="ingredient-grid-item">Select your Bun:<br/>
      <select name="cars" id="cars">
        <option *ngFor="let ingredient of ingredients | ingredientFilter:'BUN'" [ngValue]="ingredient.id">{{ingredient.name}}</option>
      </select>
    </div>
    <div class="ingredient-grid-item">Select your Sauces:<br/>
      <label formArrayName="sauces" *ngFor="let ingredient of ingredients | ingredientFilter:'SAUCE'; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ingredient.name}}
      </label>
    </div>
    <div class="ingredient-grid-item">Select your Veggies:<br/>
      <label formArrayName="veggies" *ngFor="let ingredient of ingredients | ingredientFilter:'VEG'; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ingredient.name}}
      </label>
    </div>
    <div class="ingredient-grid-item">Select other Ingredients:<br/>
      <label formArrayName="others" *ngFor="let ingredient of ingredients | ingredientFilter:'OTHER'; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ingredient.name}}
      </label>
    </div>
  </div>
  <div class="nameInput">
  <div>
  <label for="burgerName">Name your Burger: </label>
  <input type="text" id="burgerName" name="burgerName"><br>
  </div>
  <input type="submit" style="margin: 10px 127px;" value="Order this burger" />
    </div>
</form>
