<img src="assets/burgers.jpg" style="float:right;margin: 20px; border-radius: 20px;" />

<p>Welcome to the terrible UI of my litte Kotlin with Spring test app</p>

<p>This UI was heavily inspired by the UI done in the Spring in Action book. I redid this myself just to sharpen
my little Angular knowledge.</p>

<p>The UI has a section to see all default burgers and will have a <a href="design">Design</a> section soon</p>

<p>There also might be a user/customer section that should be protected with a login</p>
